viz ideas
- maybe if I could have a front page where its tied into polar steps and showing some overall stats
- then there is a tab for each other thing
- each tab has on one side some main metrics and on the other side a map of the world with the countries ive been in pale colour. you can click on each country and the metrics would change to refer to that specific country
- extra -- each country ive been to is overlaid with the flag of the country that is stronger when you press on it to show its been selected

In [142]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [114]:
lost = pd.read_csv('../data/lost_things.csv')
tours = pd.read_csv('../data/tour_data.csv')
transport = pd.read_csv('../data/transport_data.csv')
activities = pd.read_csv('../data/activities_data.csv')

In [127]:
# formatting columns to be nicer to work with
def format_names(df):
    for col in df.columns:
        df = df.rename(columns={col: col.replace(' ','_')})

    return df

In [129]:
lost = format_names(lost)
tours = format_names(tours)
transport = format_names(transport)
activities = format_names(activities)

In [115]:
# coverting to datetimes
lost.month = pd.to_datetime(lost.month).dt.strftime('%m/%Y')
tours.month = pd.to_datetime(tours.date)#.dt.strftime('%m/%d/%Y')

C:\Users\sunny\AppData\Local\Temp\ipykernel_18384\3456660661.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  lost.month = pd.to_datetime(lost.month).dt.strftime('%m/%Y')
C:\Users\sunny\AppData\Local\Temp\ipykernel_18384\3456660661.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tours.month = pd.to_datetime(tours.date)#.dt.strftime('%m/%d/%Y')

In [130]:
south_america = ['Colombia','Ecuador','Peru','Bolivia','Brasil']
central_america = ['Guatemala','Honduras','Nicaragua']

hours_in_a_day = 24
transport.country.unique()

array(['Colombia', 'Ecuador', 'Peru', 'Bolivia', 'Brasil', 'Canada',
       'Guatemala', 'Honduras', 'Nicaragua'], dtype=object)

### How much stuff has been lost?

In [117]:
print ('number of things lost: {}'.format(lost.shape[0]))
print ('I lost things for many reasons, including: {}'.format(lost.reason.unique()))
print ('I left a lot of things behind on purpose: {} items'.format(lost[lost.reason == 'left'].shape[0]))
ripped = lost[lost.reason == 'ripped']
print ('I ripped a pair of {} {} times over {} months'.format(ripped.item.unique()[0], ripped.shape[0], ripped.month.unique().shape[0]))

cases = ['broken','stolen','lost']
lost_clip = lost[lost.reason.isin(cases)]
print ('\nTaking out these cases:')
for x in ['type', 'month', 'country','reason']:
    
    print ('The most things lost by {} were: {}'.format(x, lost_clip.groupby(x).item.count().idxmax()))

print ('and I was most chaotic with one item: {}'.format(lost_clip.groupby('item').type.count().idxmax()))

number of things lost: 20
I lost things for many reasons, including: ['broken' 'lost' 'ripped' 'stolen' 'left']
I left a lot of things behind on purpose: 6 items
I ripped a pair of hiking pants 4 times over 4 months

Taking out these cases:
The most things lost by type were: accessories
The most things lost by month were: 03/2024
The most things lost by country were: Brazil
The most things lost by reason were: lost
and I was most chaotic with one item: sunglasses

### Time to look at transportation

In [138]:
ttt = transport.approximate_time.sum()
print ('I spent {} hours in total in different types of transport - {} days'.format(ttt, np.round(ttt/hours_in_a_day, 1)))

I spent 730.25 hours in total in different types of transport - 30.4 days

In [141]:
for x in transport.type.unique():
    ct = transport[transport.type == x].shape[0]
    ctt = transport[transport.type == x].approximate_time.sum()
    print ('{} times in a {} -- {} hours'.format(ct, x, ctt))

28 times in a collectivo -- 52.75 hours
20 times in a van -- 95.5 hours
97 times in a bus -- 469.75 hours
11 times in a flight -- 33.25 hours
2 times in a teleferico -- 2.0 hours
3 times in a jeep -- 9.0 hours
21 times in a boat -- 28.0 hours
4 times in a car share -- 14.5 hours
1 times in a train -- 13.0 hours
4 times in a chicken bus -- 8.5 hours
1 times in a hitchhiking -- 4.0 hours

#### Night bus suffering!!

In [134]:
night_bus = transport[(transport.type.isin(['bus','van'])) & (transport.time_of_day == 'night')]

print ('{} buses'.format(night_bus.shape[0]))
print ('{} hours (~{} days())'.format(night_bus.approximate_time.sum(), np.round((night_bus.approximate_time.sum()/hours_in_a_day),1)))

night_bus_sa = night_bus[night_bus.country.isin(south_america)]
night_bus_ca = night_bus[night_bus.country.isin(central_america)]
print ('with {} buses in South America for {} hours total'.format(night_bus_sa.shape[0], night_bus_sa.approximate_time.sum()))
print ('with {} buses in Central America for {} hours total'.format(night_bus_ca.shape[0], night_bus_ca.approximate_time.sum()))

24 buses
247.5 hours (~10.3 days())
with 22 buses in South America for 223.5 hours total
with 2 buses in Central America for 24.0 hours total

#### transport over time
- highlight chart with different colors for different countries

In [91]:
transport['time of day'].unique()

array(['day', 'night'], dtype=object)

In [109]:
transport.head()

,city,destination,country,date,approximate time,type,time of day
0,Cartegena,Santa Marta,Colombia,03/06/2024,4.00,collectivo,day
1,Santa Marta,Sierra Nevada Park,Colombia,03/08/2024,1.00,van,day
2,Sierra Nevada Park,Tayrona Park,Colombia,03/13/2024,0.50,van,day
3,Tayrona Park,Santa Marta,Colombia,03/14/2024,0.75,bus,day
4,Santa Marta,Taganga,Colombia,03/14/2024,0.25,collectivo,day

### What about tours?
- viz: maybe have a map where it shows the locations i did things, and if you hover it shows my comment about the thing and information

NameError: name 'version' is not defined