## Lost Things Data

In [3]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.express as px
import plotly.graph_objects as go

In [5]:
# formatting columns to be nicer to work with
def format_names(df):
    for col in df.columns:
        df = df.rename(columns={col: col.replace(' ','_')})

    return df

In [12]:
lost.head()

,item,type,reason,city,country,month,approx_cost
0,sunglasses,accessories,broken,Uvita,Costa Rica,01/2024,20
1,towel,accessories,lost,Manizales,Colombia,03/2024,15
2,bikini,clothing,lost,Manizales,Colombia,03/2024,50
3,sunglasses,accessories,lost,Villa de Leyva,Colombia,04/2024,20
4,hiking pants,clothing,ripped,Huarez,Peru,05/2024,5

In [17]:
lost = pd.read_csv('../data/lost_things.csv')
lost = format_names(lost)

lost.head()

,item,type,reason,city,country,month,approx_cost
0,sunglasses,accessories,broken,Uvita,Costa Rica,01/2024,20
1,towel,accessories,lost,Manizales,Colombia,03/2024,15
2,bikini,clothing,lost,Manizales,Colombia,03/2024,50
3,sunglasses,accessories,lost,Villa de Leyva,Colombia,04/2024,20
4,hiking pants,clothing,ripped,Huarez,Peru,05/2024,5

### How much stuff has been lost?

In [19]:
print ('number of things lost: {}'.format(lost.shape[0]))
print ('I lost things for many reasons, including: {}'.format(lost.reason.unique()))
print ('I left a lot of things behind on purpose: {} items'.format(lost[lost.reason == 'left'].shape[0]))
ripped = lost[lost.reason == 'ripped']
print ('I ripped a pair of {} {} times over {} months'.format(ripped.item.unique()[0], ripped.shape[0], ripped.month.unique().shape[0]))

cases = ['broken','stolen','lost']
lost_clip = lost[lost.reason.isin(cases)]
print ('\nTaking out these cases:')
for x in ['type', 'month', 'country','reason']:
    
    print ('The most things lost by {} were: {}'.format(x, lost_clip.groupby(x).item.count().idxmax()))

print ('and I was most chaotic with one item: {}'.format(lost_clip.groupby('item').type.count().idxmax()))

number of things lost: 24
I lost things for many reasons, including: ['broken' 'lost' 'ripped' 'stolen' 'left']
In total, it cost me approximately $853
I left a lot of things behind on purpose: 6 items
I ripped a pair of hiking pants 4 times over 4 months

Taking out these cases:
The most things lost by type were: accessories
The most things lost by month were: 03/2024
The most things lost by country were: Brazil
The most things lost by reason were: lost
and I was most chaotic with one item: sunglasses

In [35]:
print ('In total, it cost me approximately ${}'.format(lost.approx_cost.sum()))
for x in lost.reason.unique():
    clip = lost[lost.reason == x]
    print ('The approx cost of {} things was ${} (highest: {})'.format(x, clip.approx_cost.sum(), clip[clip.approx_cost == clip.approx_cost.max()].item.values[0]))

In total, it cost me approximately $853
The approx cost of broken things was $195 (highest: tire)
The approx cost of lost things was $260 (highest: trail runners)
The approx cost of ripped things was $16 (highest: hiking pants)
The approx cost of stolen things was $350 (highest: phone)
The approx cost of left things was $32 (highest: sweater)