### Wild Card Fees

In [7]:
import pandas as pd
import numpy as np
import scipy as sp
import itertools
import datetime
import plotly.express as px
import plotly.graph_objects as go

In [16]:
wild_card_price = 4160
rand_value = 13

In [14]:
wild_card = pd.read_csv('../data/wild_card_fees.csv')
wild_card = wild_card.rename(columns={'time (days)':'time_in_days'})
wild_card

,park,location,time_in_days,cost,total
0,Garden Route National Park - Wilderness Section,Wilderness,2,209,418
1,Tsitsikamma National Park,Stormsrivier,5,248,1240
2,Tsitsikamma National Park - Storms River Mouth,Stormsrivier,1,272,272
3,Addo Elephant National Park,Gqeberha,2,437,874
4,Hluhluwe - iMfolozi Game Reserve,Hluhluwe,6,300,1800
5,Kruger National Park,Hazyview,11,535,5885
6,Hlane National Park,Hlane,3,90,270
7,Boulders Beach,Simon's Town,1,215,215

In [21]:
print ('The cost of the wild card was {}R (~${}), and I would have spent {}R (~${}) without it'.format(
   wild_card_price, wild_card_price/rand_value, wild_card.total.sum(), np.round(wild_card.total.sum()/rand_value,2)
))
print ('Total days spent in parks: {}'.format(wild_card.time_in_days.sum()))
print ('Average price of park entrance per day: {}R (~${})'.format(wild_card.cost.mean(), np.round(wild_card.cost.mean()/rand_value,2)))

The cost of the wild card was 4160R (~$320.0), and I would have spent 10974R (~$844.15) without it
Total days spent in parks: 31
Average price of park entrance per day: 288.25R (~$22.17)